.quill {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  gap: 0.25rem;
}
.quill.sm {
  gap: 0.125rem;
}
.quill .ql-container.ql-snow {
  font-family: inherit;
  font-size: 0.875rem;
  height: 100%;
  margin: 0px;
  position: relative;
  border: none;
}
.quill .ql-toolbar.ql-snow {
  padding: 0;
  border: none;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
.quill .ql-toolbar.ql-snow .ql-formats {
  margin-right: 0;
  vertical-align: middle;
  align-items: stretch;
  @apply border rounded-xl gap-2 flex p-2;
}
.quill .ql-toolbar.ql-snow .ql-formats .ql-workround_bugfix {
  display: none !important;
}
.quill .ql-editor {
  font-size: 1rem;
  padding: 0.5rem 0;
}
.quill.sm .ql-editor {
  padding: 0.25rem 0;
}
.ql-editor.ql-blank::before {
  left: 0;
}
.ql-snow.ql-toolbar button {
  @apply aspect-square;
}
.ql-snow.ql-toolbar button.ql-active {
  @apply bg-base-300 rounded-full;
}
